@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.MMM-Astro {
	width: 300px;
}
.wrap {text-align: center; margin: 10px 10px 0 10px;}
.wrapdiv {display: inline-block}
.MMM-Astro .tops {
	width: 20%;
	height: 20%;
}
.MMM-Astro .main {
	width: 20%;
	height: 20%;
} 
.MMM-Astro .content { 
  text-align: justify;
  text-align-last: left;
}
.MMM-Astro .title {
	font-family: 'Titillium Web', sans-serif;
	color: #d8d86d;
	margin-left: auto;
    margin-right: auto;
	line-height: 80%;
}
.MMM-Astro .mood {
	width: 8%;
	height: 8%;
}
.MMM-Astro .top {
	font-family: 'Titillium Web', sans-serif; 
	font-size: 24px;
    line-height: 90%;
	text-align: left;
	padding-top: 23px;
  padding-bottom: 5px;
}
.MMM-Astro .desc {
	font-family: 'Titillium Web', sans-serif; 
	font-size: 14px;
    line-height: 90%;
	text-align: left;
	padding-top: 23px;
  padding-bottom: 5px;
}
h3:first-letter {
    text-transform:capitalize;
}
.img {
	
	width: 3%;
	height: 3%;
}